<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.appsec-labs.inalyzer5.Shutdown</string>
	<key>ProgramArguments</key>
	<array>
		<string>launchctl</string>
		<string>stop</string>
		<string>com.appsec-labs.inalyzer5.Startup</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Applications/iNalyzer5.app/proc.kill</string>
	</array>
	<key>Nice</key>
	<integer>1</integer>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
    <key>StandardErrorPath</key>
    <string>/tmp/err</string>
    <key>StandardOutPath</key>
    <string>/tmp/out</string>
</dict>
</plist>

